<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      h1{
        text-align: center;
      }
    </style>
    <title>Listagem dos Pedidos</title>
  </head>

  <body>
    <main>
      <div>
        <h1 class="display-4">Pedidos</h1>
      </div>

      <div style="text-align: center;">
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Preço</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% pedidos?.map(function(pedido) { %>
            <tr>
              <td><%= pedido.nome %></td>
              <td><%= formatMoney(pedido.valor) %></td>
              <td><a href="/pedido/<%= pedido.id%>/boleto">Gerar Boleto</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <br>
        <a href="/pedido/novo"> <button class = "btn btn-primary btn-lg btn-block" >Novo pedido</button></a>
        <br>
      </div>
    </main>
  </body>
</html>
